

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form"  action="" method="post">
        <input type="hidden" name="_method" value="PUT" >
        {if !empty($id)}
        <input type="hidden" name="type_id" value="{$id}" >
        {/if}
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>表单名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="input_name" value="" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>{$id}数据库表单名
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>字段名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="form_name"  value="" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>表单类型
            </label>
            <div class="layui-input-block" style="width: 190px">
                <select name="input_type_id" lay-verify="required">
                    {foreach $list1 as $key=>$vo }
                    <option value="{$vo.input_type_id}">{$vo.input_type_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>表单类型
            </label>
            <div class="layui-input-block" style="width: 190px">
                <select name="input_data_id" lay-verify="required">
                    {foreach $list2 as $key=>$vo }
                    <option value="{$vo.input_data_id}">{$vo.data_type_name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>数据长度
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="data_length" value="" required="" lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
                ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 2){
                    return '昵称至少得2个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function(data){
            var formData=$('.layui-form').serialize();
            $.ajax({
                type:'POST',
                url: "table_add_table",
                data:formData,
                dataType: "json",
                success: function (msg) {
                    layer.alert("修改成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        parent.location.reload();
                    });
                }
            });
            return false;
        });


    });
</script>

</body>

</html>