<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">admin</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
                <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
                <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="loginout?id={$id}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            {foreach $list as $key=>$vo }
            {if $vo.left_menu_pid==0}
            <li>
                <a href="javascript:;">
                    {if $vo.menu_address==1}
                    <i class="iconfont">&#xe6b8;</i>
                    {elseif $vo.menu_address==2 }
                    <i class="iconfont">&#xe723;</i>
                    {elseif $vo.menu_address==3 }
                    <i class="iconfont">&#xe723;</i>
                    {elseif $vo.menu_address==4 }
                    <i class="iconfont">&#xe6ae;</i>
                    {elseif $vo.menu_address==5 }
                    <i class="iconfont">&#xe726;</i>
                    {elseif $vo.menu_address==6 }
                    <i class="iconfont">&#xe6ce;</i>
                    {elseif $vo.menu_address==7 }
                    <i class="iconfont">&#xe6b4;</i>
                    {elseif $vo.menu_address==8 }
                    <i class="iconfont">&#xe699;</i>
                    {elseif $vo.menu_address==9 }
                    <i class="iconfont">&#xe6b5;</i>
                    {elseif $vo.menu_address==10 }
                    <i class="iconfont">&#xe6f4;</i>
                    {elseif $vo.menu_address==11 }
                    <i class="iconfont">&#xe6fb;</i>
                    {/if}
                    <cite>{$vo.menu_name}</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    {foreach $vo.zhi as $key=>$v }
                    <li>
                        <a _href="{$v.menu_address}?left_id={$v.left_menu_id}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>{$v.menu_name}</cite>

                        </a>
                    </li >
                    {/foreach}
                </ul>
            </li>
           {/if}
           {/foreach}
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>welcome-{$name}</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">2018 admin </div>
</div>
<!-- 底部结束 -->

</body>
</html>